* {
  background-color: #282c34;
  color: #ffffff;
  border-color: #5c6370;
}

svg,
textarea {
  background-color: #5c6370;
  color: #ffffff;
}

.graph > polygon {
  fill: #5c6370;
}

input,
select {
  background-color: #5c6370;
}

button {
  background-color: #5c6370;
  color: #282c34;
  border: none;
  border-radius: 8px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #61afef;
  color: #282c34;
}

#graphviz0 {
  /* border: 1px solid black; */
}
